<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.qa.Utility.Listeners" />
	</listeners>
	<test name="Automation Exercise Testing">
		<classes>
			<class name="com.qa.Testscripts.TC_Home" />
			<class name="com.qa.Testscripts.TC_SignUp" />
			<class name="com.qa.Testscripts.TC_Login" />
			<class name="com.qa.Testscripts.TC_AddingProductsToCart" />
			<class name="com.qa.Testscripts.TC_Checkout" />
			<class name="com.qa.Testscripts.TC_PlaceOrder" />
		</classes>
	</test>
</suite> 

